
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.X{
    width: 150px;
    height:  150px;
    margin: 10px;
    grid-area: auto;
    border-radius: 20px;
    font-size: 5rem;
    text-align: center;
    user-select: none;
    font-family: 'Itim', cursive;
    cursor: pointer;
}
.Y{
    width: 150px;
    height:  150px;
    margin: 10px;
    grid-area: auto;
    border-radius: 20px;
    font-size: 5rem;
    text-align: center;
    user-select: none;
    font-family: 'Itim', cursive;
    cursor: pointer;

}
.taken{
    width: 150px;
    height:  150px;
    margin: 10px;
    grid-area: auto;
    border-radius: 20px;
    font-size: 5rem;
    text-align: center;
    user-select: none;
    font-family: 'Itim', cursive;
}

.X:hover {
    animation-name: xhover;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.Y:hover {
    animation-name: yhover;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.taken:hover {
    animation-name: takenhover;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.X:hover::after{
    content: "X";
    color: rgba(0, 0, 0, 0.233);
    font-family: 'Itim', cursive;
    font-size: 11rem;
    position: relative;
    bottom: 25%;
}

.Y:hover::after{
    content: "O";
    color: rgba(0, 0, 0, 0.233);
    font-family: 'Itim', cursive;
    font-size: 11rem;
    position: relative;
    bottom: 25%;
}

@keyframes xhover {
    from {}
    to{background-color: rgb(176, 194, 255);};
}

@keyframes yhover {
    from {}
    to{    background-color: rgb(160, 255, 151);
}}

@keyframes takenhover {
    from {}
    to{    background-color: rgb(255, 145, 145)};
}

#normal{
    background-color: antiquewhite;
    color: black;
    border: black solid 3px;

}

#alt{
    background-color: rgb(44, 44, 44);
    color: white;
    border: rgb(248, 248, 248) solid 3px;

}

.letter{
    position: relative;
    bottom: 25px;
}