@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.container{
font-size: 10rem;
list-style-type: none;
position: absolute;
display: flex;
justify-content: space-around;
padding: 5%;

}

#containernormal{
    color: rgb(0, 0, 0);
}

#containeralt{
    color: white;
}


.statcontainer{
outline: 100px rgb(255, 0, 43);
height: 50vh;
width: 100vw;
position: absolute;
    display: flex;
    justify-content: center;
}

.statone{
    position: inherit;
    left: -300%;
    font-family: 'Itim', cursive;

}

.stattwo{
    position: inherit;
    left: 300%;
    font-family: 'Itim', cursive;

}

@keyframes gotpoint{
from{

}
to{
    transform: translateY(150%);
}
}